html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.mb-3 {
  margin: 0 0 16px;
}

.gradient-txt {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #3264f5), color-stop(82%, #7202bb));
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
  background-image: url(/images/bg-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0px;
  position: relative;
}

.main-container .head-container {
  height: 100vh;
}

.main-container .head-container .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .head-container .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 0 auto;
  height: calc(100% - 73px);
}

.main-container .head-container .header-wrapper .play-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .head-container .header-wrapper .play-icon a {
  text-decoration: none;
  margin: 15px 10px 20px;
  color: #367af4;
}

.main-container .head-container .header-wrapper .play-icon a .icon-wrapper {
  background-color: #00bcd4;
  padding: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: zoom_animation;
          animation-name: zoom_animation;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

@-webkit-keyframes zoom_animation {
  0% {
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.9);
  }
  25% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.8);
  }
  50% {
    -webkit-box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.4);
  }
  75% {
    -webkit-box-shadow: 0 0 0 17px rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 17px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
  }
}

@keyframes zoom_animation {
  0% {
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.9);
  }
  25% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.8);
  }
  50% {
    -webkit-box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.4);
  }
  75% {
    -webkit-box-shadow: 0 0 0 17px rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 17px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
  }
}

.main-container .head-container .header-wrapper .play-icon a .icon-wrapper i {
  font-size: 30px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .head-container .header-wrapper .play-icon a i {
  font-size: 20px;
}

.main-container .head-container .header-wrapper h2 {
  text-align: center;
  font-family: "Poppins";
  font-size: 56px;
  margin: 22px 0;
  color: #ffffff;
  font-weight: 500;
}

.main-container .head-container .header-wrapper p {
  text-align: center;
  font-family: "Poppins";
  font-size: 15px;
  margin: 0px 0px 8px;
  color: #ffffff;
  font-weight: 200;
}

.main-container .head-container .header-wrapper .header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px;
}

.main-container .head-container .header-wrapper .header-btn a {
  text-decoration: none;
  color: #ffffff;
}

.main-container .head-container .header-wrapper .header-btn a .select-btn {
  padding: 8px 28px;
  color: #ffffff;
  background-color: #00bcd4;
  font-size: 14px;
  font-family: "Poppins";
  text-decoration: none;
  margin-right: 10px;
  border: 1.5px solid #00bcd4;
}

.main-container .head-container .header-wrapper .header-btn a .select-btn:hover {
  background-color: transparent;
  color: #00bcd4;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main-container .head-container .header-wrapper .header-btn a .non-select-btn {
  padding: 8px 28px;
  color: #ffffff;
  background-color: transparent;
  font-size: 14px;
  font-family: "Poppins";
  text-decoration: none;
  margin-left: 10px;
  border: 1.5px solid #ffffff;
}

.main-container .head-container .header-wrapper .header-btn a .non-select-btn:hover {
  background-color: #ffffff;
  color: #6d6d6d;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.nav-bar .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .navigation ul li {
  list-style-type: none;
  padding: 6px 24px;
}

.nav-bar .navigation ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 300;
}

.nav-bar .navigation ul li a.active::after {
  content: '';
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: 3px;
  border-radius: 2px;
  bottom: -28px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  background: #00bcd4;
}

.nav-bar .logo {
  padding: 20px 60px;
}

.nav-bar .logo .logo-img #black-logo {
  display: none;
}

.humburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 20px;
}

.humburger-menu i {
  color: #ffffff;
  font-size: 32px;
}

/* Scroll Header Bar Start------------------------------- */
.scroll-header {
  background-color: white;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.scroll-header .nav-bar .navigation ul li a {
  color: #2b2b2b;
}

.scroll-header .humburger-menu i {
  color: #2b2b2b;
}

.scroll-header .nav-bar .logo .logo-img #white-logo {
  display: none;
}

.scroll-header .nav-bar .logo .logo-img #black-logo {
  display: unset;
}

/* Scroll Header Bar End------------------------------- */
.brand-pd {
  padding: 0 80px;
  margin: 0 30px;
}

.brand-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  width: 100%;
}

.brand-container .brand-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  width: 100%;
}

.brand-container .brand-txt h4 {
  font-size: 16px;
  color: #00bcd4;
  font-family: "Poppins";
  font-weight: 400;
  margin: 0 0 16px;
}

.brand-container .brand-txt h2 {
  font-size: 48px;
  color: #2b2b2b;
  font-family: "Poppins";
  font-weight: 500;
  margin: 0 0 16px;
  line-height: 1.3;
}

.brand-container .brand-txt p {
  font-size: 15px;
  color: #6d6d6d;
  font-family: "Roboto";
  font-weight: 300;
  margin: 0 0 36px;
  line-height: 1.8;
}

.brand-container .brand-txt .brand-progress ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brand-container .brand-txt .brand-progress ul li {
  list-style-type: none;
}

.brand-container .brand-txt .brand-progress ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-family: "Poppins";
  color: #2b2b2b;
  font-weight: 400;
  margin: 0 0 6px;
}

.brand-container .brand-txt .brand-progress ul li .progress {
  background-color: #eaeaea;
  height: 12px;
  border-radius: 12px;
  margin: 0 0 16px;
  width: 100%;
}

.brand-container .brand-txt .brand-progress ul li .progress .ninety-per {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #3264f5), color-stop(82%, #7202bb));
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
  width: 90%;
  height: 100%;
  border-radius: 12px;
}

.brand-container .brand-txt .brand-progress ul li .progress .seventy-per {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #3264f5), color-stop(82%, #7202bb));
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
  width: 75%;
  height: 100%;
  border-radius: 12px;
}

.brand-container .brand-txt .brand-btn {
  margin: 40px 0 0;
}

.brand-container .brand-txt .brand-btn a {
  text-decoration: none;
  padding: 12px 34px;
  border: 2px solid #2b2b2b;
  color: #2b2b2b;
  font-family: "Poppins";
  font-size: 14px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.brand-container .brand-txt .brand-btn a:hover {
  background-color: #2b2b2b;
  color: #ffffff;
}

.brand-container .brand-img {
  max-width: 50%;
  width: 100%;
  height: 100%;
}

.brand-container .brand-img .img-sec {
  width: 100%;
  height: 100%;
}

.brand-container .brand-img .img-sec img {
  height: 100%;
  width: 100%;
}

/* Service Section */
.service-container {
  background-color: #f8f9fa;
}

.service-container .service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 0;
}

.service-container .service-wrapper .service-head {
  text-align: center;
}

.service-container .service-wrapper .service-head h4 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
}

.service-container .service-wrapper .service-head h2 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 500;
}

.service-container .service-wrapper .service-head p {
  font-family: "Roboto";
  font-size: 15px;
  color: var(--sec-color);
  font-weight: 200;
  max-width: 720px;
  line-height: 26px;
}

.service-container .service-wrapper .service-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.service-container .service-wrapper .service-div .service-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 20px;
}

.service-container .service-wrapper .service-div .service-banner h2 {
  font-size: 40px;
  padding: 30px 0 20px;
  font-family: "Roboto";
  font-weight: 600;
}

.service-container .service-wrapper .service-div .service-banner h4 {
  font-size: 16px;
  color: #2b2b2b;
  margin: 0 0 24px;
  font-family: "Poppins";
  font-weight: 500;
}

.service-container .service-wrapper .service-div .service-banner p {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 200;
  color: #6d6d6d;
  line-height: 26px;
}

/* Digital Section */
.bg-digital {
  background-image: url(/images/bg-img2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bg-digital .overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1d1d21;
  opacity: 0.3;
  z-index: -1;
}

.bg-digital .digital-wrapper {
  padding: 140px 0;
  text-align: center;
}

.bg-digital .digital-wrapper h4 {
  font-family: "Poppins";
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 24px;
}

.bg-digital .digital-wrapper h1 {
  font-family: "Poppins";
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  margin: 0 0 24px;
}

.bg-digital .digital-wrapper .digital-btn {
  display: block;
  text-decoration: none;
  padding: 10px 34px;
  cursor: pointer;
  color: #ffffff;
  background-color: #00bcd4;
  border: 2px solid #00bcd4;
  font-size: 16px;
  font-family: "Poppins";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.bg-digital .digital-wrapper .digital-btn:hover {
  background-color: transparent;
  color: #00bcd4;
}

/* Employee Section Start Here */
.white-container {
  background-color: white !important;
}

.emp-banner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.emp-banner-wrapper .emp-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emp-banner-wrapper .emp-banner .emp-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-img {
  height: 100%;
  overflow: hidden;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  background-color: transparent;
  height: 100%;
  max-width: 50%;
  width: 100%;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt h2 {
  color: #2b2b2b;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 400;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt h6 {
  color: #2b2b2b;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 500;
  margin: 0 0 6px;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt p {
  color: #6d6d6d;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0 0 16px;
  line-height: 1.6;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt .social-icon .icons {
  margin: 0 4px;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt .social-icon .icons a {
  display: block;
  padding: 5px 7px;
  border-radius: 50%;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt .social-icon .icons a:hover {
  background-color: #ffffff;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt .social-icon .icons a:hover .bi-facebook {
  color: #4267b2;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt .social-icon .icons a:hover .bi-twitter {
  color: #1da1f2;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt .social-icon .icons a:hover .bi-pinterest {
  color: #bd01ac;
}

.emp-banner-wrapper .emp-banner .emp-box .emp-txt .social-icon .icons a:hover .bi-instagram {
  color: #c32aa3;
}

.emp-banner-wrapper .emp-banner .emp-box:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#3264f5), color-stop(51%, #7202bb), to(#3264f5));
  background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
  background-size: 200% auto;
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
}

.emp-banner-wrapper .emp-banner .emp-box:hover .emp-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.emp-banner-wrapper .emp-banner .emp-box:hover .emp-txt h2,
.emp-banner-wrapper .emp-banner .emp-box:hover .emp-txt h6,
.emp-banner-wrapper .emp-banner .emp-box:hover .emp-txt p,
.emp-banner-wrapper .emp-banner .emp-box:hover .emp-txt .gradient-txt {
  color: #ffffff !important;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emp-banner-wrapper .emp-banner .reverse-box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* <!-- Portfolio Section Start Here --> */
.port-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  background-image: -webkit-gradient(linear, left top, right top, from(#3264f5), color-stop(51%, #7202bb), to(#3264f5));
  background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
  background-size: 200% auto;
  opacity: 0;
}

.port-hover i {
  font-size: 140px;
  color: #ffffff;
}

.port-hover h2 {
  font-family: "Poppins";
  font-weight: 400;
  color: #ffffff;
  font-size: 22px;
  margin: -30px 0 10px;
}

.port-hover p {
  font-family: "Roboto";
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
}

.portfolio-sec {
  position: relative;
  background-color: #f8f9fa;
}

.portfolio-sec::before {
  content: '';
  background: white;
  height: 90px;
  width: 100%;
  left: 0;
  right: 0;
}

.portfolio-sec .main-section {
  position: relative;
  height: 1370px;
}

.portfolio-sec .main-section .port-1 {
  border: 20px solid white;
  position: absolute;
  top: -80px;
  left: 0;
  width: 540px;
}

.portfolio-sec .main-section .port-1 img {
  width: 100%;
}

.portfolio-sec .main-section .port-1:hover .port-hover {
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
  opacity: 0.8;
}

.portfolio-sec .main-section .port-txt {
  position: absolute;
  top: 0;
  left: 570px;
  text-align: center;
  width: 540px;
  padding: 50px 30px 20px;
}

.portfolio-sec .main-section .port-txt h3 {
  color: var(--primary-color);
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 400;
}

.portfolio-sec .main-section .port-txt h2 {
  font-size: 48px;
  font-family: var(--primary-font);
  font-weight: 500;
  margin: 0 0 16px;
}

.portfolio-sec .main-section .port-txt p {
  font-size: 15px;
  font-family: var(--secondary-font);
  font-weight: 200;
  margin: 0 0 16px;
  line-height: 1.6;
  color: var(--sec-color);
}

.portfolio-sec .main-section .port-2 {
  border: 20px solid white;
  position: absolute;
  top: 280px;
  left: 590px;
  width: 540px;
}

.portfolio-sec .main-section .port-2 img {
  width: 100%;
}

.portfolio-sec .main-section .port-2:hover .port-hover {
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
  opacity: 0.8;
}

.portfolio-sec .main-section .port-3 {
  border: 20px solid white;
  position: absolute;
  top: 530px;
  left: 0px;
  width: 540px;
}

.portfolio-sec .main-section .port-3 img {
  width: 100%;
}

.portfolio-sec .main-section .port-3:hover .port-hover {
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
  opacity: 0.8;
}

.portfolio-sec .main-section .port-4 {
  border: 20px solid white;
  position: absolute;
  top: 890px;
  left: 590px;
  width: 540px;
}

.portfolio-sec .main-section .port-4 img {
  width: 100%;
}

.portfolio-sec .main-section .port-4:hover .port-hover {
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
  opacity: 0.8;
}

.portfolio-sec .main-section .port-txt-btn {
  position: absolute;
  top: 1140px;
  left: 0px;
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-sec .main-section .port-txt-btn .port-left p {
  color: #6d6d6d;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.6;
}

.portfolio-sec .main-section .port-txt-btn .port-left h2 {
  font-family: "Roboto";
  font-weight: 500;
  color: #00bcd4;
  font-size: 90px;
}

.portfolio-sec .main-section .port-txt-btn .port-btn a {
  display: block;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#3264f5), color-stop(51%, #7202bb), to(#3264f5));
  background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
  color: #ffffff;
  padding: 10px 34px;
  background-size: 200% auto;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

.portfolio-sec .main-section .port-txt-btn .port-btn a:hover {
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
  background-position: right center;
}

.port-hover-wrapper {
  position: relative;
}

/* <!-- Pricing Section End Here --> */
.pricing-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-banner .pricing-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  padding: 64px;
  margin: 100px 30px;
}

.pricing-banner .pricing-box h2 {
  color: #2b2b2b;
  margin: 0 0 16px;
  font-size: 28px;
  font-family: "Poppins";
  font-weight: 400;
}

.pricing-banner .pricing-box p {
  color: #6d6d6d;
  margin: 0 0 16px;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 200;
}

.pricing-banner .pricing-box h3 {
  color: #00bcd4;
  margin: 0 0 16px;
  font-size: 48px;
  font-family: "Poppins";
  font-weight: 400;
}

.pricing-banner .pricing-box h3 sup {
  font-size: 19px !important;
  font-family: "Roboto";
  font-weight: 300;
}

.pricing-banner .pricing-box h3 span {
  font-size: 15px !important;
  color: #2b2b2b;
  padding-left: 10px;
}

.pricing-banner .pricing-box h3 .spe-color {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #ffffff), color-stop(82%, #ffffff)) !important;
  background: linear-gradient(to right, #ffffff 2%, #ffffff 82%) !important;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #ffffff !important;
}

.pricing-banner .pricing-box ul li {
  list-style-type: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  color: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0;
}

.pricing-banner .pricing-box ul li i .bi-check {
  color: #63be11;
  font-size: 22px;
  padding-right: 7px;
}

.pricing-banner .pricing-box ul li i .bi-x {
  color: #e04645;
  font-size: 22px;
  padding-right: 7px;
}

.pricing-banner .pricing-box .price-btn {
  margin-top: 26px;
}

.pricing-banner .pricing-box .price-btn a {
  display: block;
  padding: 10px 34px;
  background-color: #00bcd4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Poppins";
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #ffffff;
}

.pricing-banner .pricing-box .price-btn .price-color-right-btn {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #3264f5), color-stop(82%, #7202bb)) !important;
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%) !important;
  color: #ffffff;
}

.pricing-banner .price-left-box {
  background-color: #f8f9fa;
}

.pricing-banner .price-left-box:hover {
  background-color: #00bcd4;
  color: white !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pricing-banner .price-left-box:hover .box-hover-white {
  color: #ffffff;
}

.pricing-banner .price-left-box:hover .price-btn .price-color-left-btn {
  background-color: #ffffff;
  color: #2b2b2b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pricing-banner .price-left-box:hover .price-btn .price-color-left-btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
  background-color: #00bcd4;
}

.pricing-banner .price-right-box {
  background-color: #f8f9fa;
}

.pricing-banner .price-right-box:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #3264f5), color-stop(82%, #7202bb));
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
  color: white !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pricing-banner .price-right-box:hover .box-hover-white {
  color: #ffffff;
}

.pricing-banner .price-right-box:hover .price-btn .price-color-right-btn {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #ffffff), color-stop(82%, #ffffff)) !important;
  background: linear-gradient(to right, #ffffff 2%, #ffffff 82%) !important;
  color: #2b2b2b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pricing-banner .price-right-box:hover .price-btn .price-color-right-btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #3264f5), color-stop(82%, #7202bb)) !important;
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%) !important;
  color: #ffffff;
}

.brand-height {
  height: 600px;
}

.award-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f9fa;
  margin: unset;
  height: 100%;
  padding: 0px 80px;
}

.award-txt h4 i {
  font-size: 58px;
  margin: 0 0 16px;
}

.award-txt p {
  color: #6d6d6d;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  margin: 0 0 16px;
  text-align: center;
}

.award-txt .testi-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.award-txt .testi-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.award-txt h3 {
  color: #00bcd4;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 400;
}

.award-txt h5 {
  color: #9c9c9c;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 13px;
}

.back-fluid-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/images/bg-img3.jpeg);
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 0;
}

.back-fluid-img .right-overlay {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #3264f5), color-stop(82%, #7202bb)) !important;
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%) !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
}

.back-fluid-img .img-container .award-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

.back-fluid-img .img-container .award-sec .award-data .award-top-data {
  padding-right: 100px;
  padding-bottom: 30px;
}

.back-fluid-img .img-container .award-sec .award-data .award-top-data h3 {
  color: #ffffff;
  font-size: 44px;
  margin-bottom: 16px;
  font-family: "Poppins";
  font-weight: 400;
}

.back-fluid-img .img-container .award-sec .award-data .award-top-data p {
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
}

.app-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-design .app-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.app-design .app-wrapper .app-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  text-align: center;
  padding: 20px 60px;
}

.app-design .app-wrapper .app-content .app-icon i {
  font-size: 38px;
}

.app-design .app-wrapper .app-content h2 {
  color: #2b2b2b;
  font-family: "Poppins";
  font-size: 24px;
  margin: 0 0 16px;
  font-weight: 400;
}

.app-design .app-wrapper .app-content p {
  font-size: 15px;
  font-family: "Roboto";
  color: #6d6d6d;
  font-weight: 300;
  line-height: 1.6;
}

.app-design .app-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  position: relative;
}

.app-design .app-mobile img {
  max-width: 280px;
  width: 100%;
}

.app-design .app-mobile .img-slide {
  position: absolute;
  top: 66px;
  left: 79px;
  max-width: 236px;
  max-height: 419px;
}

/* <!-- Info Section Start Here --> */
.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.info-container .info-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 25px;
  width: 50%;
  background-color: #f8f9fa;
}

.info-container .info-txt h5 {
  color: #00bcd4;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  margin: 0 0 16px;
}

.info-container .info-txt h4 {
  color: #2b2b2b;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 48px;
  margin: 0 0 16px;
  text-align: center;
}

.info-container .info-txt p {
  color: #6d6d6d;
  font-weight: 300;
  font-family: "Roboto";
  font-size: 15px;
  text-align: center;
  margin: 0 0 16px;
  line-height: 1.6;
}

.info-container .info-txt .info-btn a {
  display: block;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#3264f5), color-stop(51%, #7202bb), to(#3264f5));
  background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
  color: #ffffff;
  padding: 12px 34px;
  background-size: 200% auto;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

.info-container .info-txt .info-btn a:hover {
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
  background-position: right center;
}

.info-container .info-img {
  width: 50%;
}

.info-container .info-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.info-container .info-left-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 480px;
  background-image: url(/images/address-image.jpeg);
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 0;
}

.info-container .info-left-img .info-overlay {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #3264f5), color-stop(82%, #7202bb)) !important;
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%) !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: -1;
}

.info-container .info-left-img h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
  margin: 0 0 16px;
  text-align: center;
}

.info-container .info-left-img h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
  margin: 0 0 16px;
}

.info-container .info-left-img p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 16px;
  text-align: center;
  font-family: "Roboto";
}

.info-container .forms {
  width: 100%;
}

.info-container .forms .form-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.info-container .forms .form-sec .form-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.info-container .forms .form-sec .form-data .form-input {
  width: 50%;
  margin: 10px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-container .forms .form-sec .form-data .form-input input {
  font-size: 14px;
  padding: 12px 0;
  border-bottom: 1px solid #e2e2e2 !important;
  border: none;
  background-color: transparent;
  font-family: "Roboto";
  font-weight: 300;
  height: 44px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  width: 100%;
}

.info-container .forms .form-sec .form-data .form-input input:focus {
  outline: none;
}

.info-container .forms .form-sec .form-data textarea {
  font-size: 14px;
  padding: 12px 0;
  border-bottom: 1px solid #e2e2e2 !important;
  border: none;
  background-color: transparent;
  font-family: "Roboto";
  font-weight: 300;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  width: 100%;
  margin: 10px 4px;
  resize: none;
}

.info-container .forms .form-sec .form-data textarea:focus {
  outline: none;
}

.maps-sec {
  width: 100%;
  max-height: 600px;
  position: relative;
}

.maps-sec .maps-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1d1d21;
  opacity: 0.3;
  z-index: 0;
}

.maps-sec iframe {
  width: 100%;
}

/* Footer */
.footer-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f8f9fa;
}

.footer-sec .footer {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-sec .footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-sec .footer .footer-icons .f-icons a {
  background-color: #f8f9fa;
  color: #2b2b2b;
  padding: 10px 12px;
  display: block;
  margin: 10px;
  border-radius: 50%;
  font-size: 18px;
}

.footer-sec .footer .footer-icons .f-icons a:hover {
  background-color: #00bcd4;
  color: #ffffff;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.footer-sec .footer p {
  font-size: 15px;
  font-family: var(--secondary-font);
  font-weight: 300;
  margin: 20px 0;
}

/* Scroll Bar Start */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3434f8;
}

/* Scroll Bar End */
.wrapper {
  position: relative;
}

/* Top Bottn btn Start */
.top-btn {
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #3264f5), color-stop(82%, #7202bb));
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  display: block;
  visibility: hidden;
}

.top-btn a {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 15%;
  left: 15%;
}

.top-btn a i {
  font-size: 32px;
}

/* Top Bottn btn End */
/* <!-- Side Menu Start --> */
.left-headerbar {
  background-color: #00bcd4;
  width: 0%;
  padding: 30px;
  position: fixed;
  top: 0;
  right: -100px;
  height: 100vh;
  z-index: 100;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow-x: hidden;
}

.left-headerbar .headerbar-close-icon {
  float: right;
  font-size: 28px;
  color: #ffffff;
}

.left-headerbar .headerbar-close-icon i {
  color: #ffffff;
}

.left-headerbar .headerbar-nav ul {
  width: 100%;
  float: left;
}

.left-headerbar .headerbar-nav ul li {
  list-style-type: none;
  padding: 10px 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.left-headerbar .headerbar-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left-headerbar .headerbar-nav ul li a::after {
  content: '';
  padding: 1.3px;
  width: 0;
  margin-top: 10px;
  /* visibility: hidden; */
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.left-headerbar .headerbar-nav ul li:hover a::after {
  background-color: white;
  width: 100%;
  visibility: visible;
}

.left-headerbar .headerbar-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 16px;
}

.left-headerbar .headerbar-icons .head-icons a {
  color: black;
  padding: 10px 12px;
  background-color: #00bcd4;
  border-radius: 50%;
  margin: 4px 6px;
}

.left-headerbar .headerbar-icons .head-icons a i {
  color: #ffffff;
}

.left-headerbar .headerbar-icons .head-icons a:hover {
  background-color: #ffffff;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.left-headerbar .headerbar-icons .head-icons a:hover .f-color {
  color: #4267b2;
}

.left-headerbar .headerbar-icons .head-icons a:hover .i-color {
  color: #c32aa3;
}

.left-headerbar .headerbar-icons .head-icons a:hover .t-color {
  color: #1da1f2;
}

.left-headerbar .head-data {
  float: left;
}

.left-headerbar .head-data p {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 13px;
  padding: 10px 16px;
  margin-top: 10px;
}
/*# sourceMappingURL=main-style.css.map */